/*********************
** Variables
*********************/

// Colors
// GRAYSCALE
$_SLATE: #2C353F;
$_CHARCOAL: #474F59;
$_ASH: #959CA6;
$_FOG: #DFE3E8;
$_PORCELAIN: #F5F6F8;
$_WHITE: #FFFFFF;

// ACCENTS
$_BANANA: #FCBC19;
$_PRIMARY: #359BCF;
$_EGGPLANT: #6C3F6F;
$_LEMON: #EBBE54;
$_LIME: #14C764;
$_ORANGE: #EF7625;
$_PLUM: #AE547A;
$_STRAWBERRY: #EB3434;
$_TOMATO: #CD5A57;

// Font sizes
$font-size-jumbo: 30px;
$font-size-xxlarge: 21px;
$font-size-medium: 13px;
$font-size-large: 15px;
$font-size-small: 11px;
$font-size-tiny: 10px;

// Fonts
$font-thin: 'ProximaNovaThin, Helvetica, Arial, sans-serif';

// Spacing
$spacing-xlarge: 30px;
$spacing-large: 20px;
$spacing-medium: 15px;
$spacing-small: 10px;
$spacing-xsmall: 5px;
