.modal-content {
  width: inherit;
}

.box {
  padding: 10px 20px;
}

.add-transaction {
  display: flex;
  flex-direction: column;
  font-size: $font-size-tiny;

  .title {
    font-size: $font-size-large;
    padding-bottom: 5px;
    border-bottom: 1px solid $_ASH;
    margin-bottom: 5px;
  }

  label {
    font-size: $font-size-tiny;
    text-transform: uppercase;
  }

  input {
    margin-bottom: 5px;

    &:focus {
      outline: none;
    }
  }

  select {
    padding: 3px 0;
    margin-bottom: 10px;

    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 300px;

    &:focus {
      outline: none;
    }
  }

  .input-amount, .datepicker {
    width: 150px;
  }

  .input-description {
    width: 300px;
  }

  .buttons {
    display: flex;

    .add-button {
      margin-left: 0px;
    }
  }
}
