.transaction-details {
  &:focus {
    outline: none;
  }

  .details {
    display: flex;
    justify-content: space-around;
    border: 1px solid $_FOG;
    position: relative;

    img {
      height: 55px;
      width: 55px;
      align-self: flex-start;
      margin-top: $spacing-small;
      position: absolute;
      left: $spacing-small;
    }

    .detail-wrapper {
      display: flex;
      flex-direction: column;
      margin: $spacing-small;

      input, textarea {
        font-size: $font-size-small;
        margin-bottom: $spacing-xsmall;
      }

      .datepicker {
        width: 80px;
      }
    }

    .title-text {
      font-weight: bold;
      font-size: $font-size-small;
      text-transform: uppercase;
      margin-bottom: $spacing-xsmall;
    }

    .detail-text {
      font-size: $font-size-tiny;
      margin-bottom: $spacing-xsmall;
    }

    .manage-transactions {
      position: relative;
      margin-top: $spacing-small;

      .options-link-wrapper {
        display: flex;
      }

      .options-link {
        cursor: pointer;
        font-size: $font-size-tiny;
        color: $_PRIMARY;
        font-weight: 600;
      }

      .caret-up {
        position: relative;
        top: 4px;
        left: 4px;
      }

      .caret-up:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 6px solid $_PRIMARY;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }

      .caret-up:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 2px;
        border-bottom: 4px solid $_WHITE;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }

      .caret-down {
        position: relative;
        top: 4px;
        left: 4px;
      }

      .caret-down:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-top: 6px solid $_PRIMARY;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }

      .caret-down:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 0;
        border-top: 4px solid $_WHITE;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }

      .options {
        position: absolute;
        right: -25px;
        top: 17px;
        border: 1px solid $_FOG;
        background-color: white;
        color: $_PRIMARY;
        box-shadow: 2px 2px 3px $_FOG;
        font-size: 8px;
        width: 120px;
        z-index: 10;

        ul {
          list-style: none;
          padding-left: 0px;
          margin: 3px 0px;

          li {
            cursor: pointer;
            margin-bottom: 4px;
            padding: 3px;

            &:hover {
              background-color: $_FOG;
            }
          }
        }
      }
    }

    .arrow-box {
      position: relative;
      background: #fff;
      border: 1px solid #DFE3E8;
    }
    .arrow-box:after, .arrow-box:before {
      bottom: 100%;
      left: 87%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .arrow-box:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 5px;
      margin-left: -5px;
    }
    .arrow-box:before {
      border-color: rgba(223, 227, 232, 0);
      border-bottom-color: #DFE3E8;
      border-width: 6px;
      margin-left: -6px;
    }

    .close-button {
      position: absolute;
      top: 0px;
      right: $spacing-xsmall;
      margin: 0px;
      height: $spacing-medium;
      @include a-tag;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
