<h3>Transaction history</h3>
{{#transactions/transaction-filter filter=(action "filter") as |rows|}}
  {{transactions/transaction-table
    showTotal=true
    showTotalLabel="Total Amount"
    rows=rows}}
{{/transactions/transaction-filter}}